<h1>{{chosen}}</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Platform</th>
    <th>Release Year</th>
    <th>Genre</th>
    <th>Description</th>
  </tr>
  {{#each result}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.platform}}</td>
      <td>{{this.release_year}}</td>
      <td>{{this.genre}}</td>
      <td>{{this.description}}</td>
    </tr>
  {{/each}}
</table>